body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --white: #fff;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: rgba(51, 51, 51, 0.3);
  --color-whitesmoke: #eee;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-7xl: 26px;
  --padding-11xs: 2px;

  /* Border radiuses */
  --br-11xl: 30px;
}
