{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href=".{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="dashboard-1">
      <div class="main-bg-color-parent">
        <main class="main-bg-color">
          <section class="main-bg"></section>
        </main>
        <header class="nav">
          <div class="header">
            <div class="text-wrapper">
              <div class="text">
                <b class="title">Hi, {{user.username}}</b>
                <div class="body">Let’s check your progress today</div>
              </div>
            </div>
            <div class="search-wrapper">
              <div class="search">
                <div class="name">
                  <img class="search-icon" alt="" src="{% static './public/search.svg'%}" />

                  <input class="body1" placeholder="Search..." type="text" />
                </div>
              </div>
            </div>
            <div class="header-inner">
              <div class="frame-parent">
                <div class="divider-wrapper">
                  <div class="divider"></div>
                </div>
                <div class="profile">
                  <div class="avatar">
                    <div class="avatar1">
                      <div class="avatar2">
                        <img
                          class="outline-border-icon"
                          alt=""
                          src="{% static './public/outline-border.svg' %}"
                        />

                        <img
                          class="image-icon"
                          alt=""
                          src="{% static './public/image@2x.png'%}"
                        />

                        <div class="initials">
                          <div class="background"></div>
                          <div class="initials1">AB</div>
                        </div>
                        <div class="icon">
                          <div class="background1"></div>
                          <img
                            class="essentials-user-circle"
                            loading="lazy"
                            alt=""
                            src="{% static './public/essentials--usercircle.svg'%}"
                          />
                        </div>
                        <div class="add">
                          <div class="background2"></div>
                          <img
                            class="basics-add"
                            alt=""
                            src="{% static './public/basics--add.svg'%}"
                          />
                        </div>
                      
                        <img
                          class="bottom-plus-icon"
                          alt=""
                          src="{% static './public/bottom-plus.svg'%}"
                        />

                        <div class="indicator-bottom">
                          <div class="large2"></div>
                          <div class="medium2"></div>
                          <div class="small2"></div>
                        </div>
                        <div class="indicator-top">
                          <div class="large3"></div>
                          <div class="medium3"></div>
                          <div class="small3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-container">
                    <div class="text1">
                      <b class="title1">{{user.username}}</b>
                      <div class="body2">Admin</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="icon1" alt="" src="{% static './public/icon.svg'%}" />

            <img class="icon2" alt="" src="{% static './public/icon.svg'%}" />
          </div>
        </header>
        <img
          class="separator-icon"
          loading="lazy"
          alt=""
          src="{% static './public/separator.svg'%}"
        />



        <!-- Top Graph w-->
        <!--<h1 class="dashboard">Dashboard</h1>-->
    <div class="main-body" style="display:flex; flex-direction: column">    
      <div style="margin-top: 126px; margin-left: 26px; display: flex; flex-direction: row; gap: 26px">  
        <div class="total-users">
          <div class="bg"></div>
          <div class="frame-group">
            <div class="total-user-parent">
              <b class="total-user">Total Customers</b>
              <b class="b4" id="customers">40,689</b>
            </div>
            <img
              class="icon3"
              loading="lazy"
              alt=""
              src="{% static './public/icon@2x.png'%}"
            />
          </div>
          <div class="ic-trending-up-24px-parent">
            <img
              class="ic-trending-up-24px-icon"
              loading="lazy"
              alt=""
              src="{% static './public/ictrendingup24px.svg'%}"
            />

            <div class="up-from-yesterd-wrapper">
              <div class="up-from-yesterd-container">
                <span>8.5%</span>
                <span class="span"> </span>
                <span class="up-from-yesterday">Up from yesterday</span>
              </div>
            </div>
          </div>
        </div>
        <div class="total-order">
          <div class="bg1"></div>
          <div class="frame-container">
            <div class="total-order-parent">
              <b class="total-order1">Total Movies</b>
              <b class="b5" id="movies">10293</b>
            </div>
            <img class="icon4" alt="" src="{% static './public/icon-1@2x.png'%}" />
          </div>
          <div class="ic-trending-up-24px-group">
            <img
              class="ic-trending-up-24px-icon1"
              alt=""
              src="{% static './public/ictrendingup24px.svg'%}"
            />

            <div class="up-from-past-we-wrapper">
              <div class="up-from-past-container">
                <span>1.3%</span>
                <span class="span1"> </span>
                <span class="up-from-past">Up from past week</span>
              </div>
            </div>
          </div>
        </div>
        <div class="total-sales">
          <div class="bg2"></div>
          <div class="frame-div">
            <div class="total-sales-parent">
              <div class="total-sales1">Rentals</div>
              <b class="b6" id="rented">100</b>
            </div>
            <img class="icon5" alt="" src="{% static './public/icon-2@2x.png'%}" />
          </div>
          <div class="ic-trending-down-24px-parent">
            <img
              class="ic-trending-down-24px-icon"
              loading="lazy"
              alt=""
              src="{% static './public/ictrendingdown24px.svg' %}"
            />

            <div class="down-from-yeste-wrapper">
              <div class="down-from-yeste-container">
                <span>4.3%</span>
                <span class="span2"> </span>
                <span class="down-from-last">Down from last week</span>
              </div>
            </div>
          </div>
        </div>

        <div class="order-pending" style="width: 230px">
          <div class="bg3"></div>
          <div class="total-pending-parent">
            <div class="total-pending">Total profits made</div>
            <b class="b7" id="profits">2040</b>
          </div>
          <img class="icon6" alt="" src="{% static './public/icon-3@2x.png'%}" />
        </div>
    </div>  


    
            
    <div class="chart">
      <div class="rows" style="display:flex; flex-direction: row; gap:20px">
        <div class="card-body" style="height: 480px; background-color: #fff; box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05); border-radius: 14px; width:520px ">
          <h5 class="card-title">Rentals This week</h5>
          <canvas id="simpleChart" width="100" height="100"></canvas>
        </div>
  
        <div class="card-body-2" style="height: 480px; background-color: #fff; box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05); border-radius: 14px; width:540px ">
          <h5 class="card-title" style="margin-top:20px; margin-left: 20px">Top 5 Genres</h5>
          <div style="height: 400px">
            <canvas id="pieChart" width="300" height="200"></canvas>
          </div>  
        </div>
      </div>


    </div>
    </div>

  </div>  





        <!-- Graph -->
    




        
    </div>
    </div>
      




      <!--Side Bar -->
      <div class="navigation-sidebar-menu-li1">
        <div class="side-bar">
          <div class="frame-parent5">
            <div class="hide-bg-copy-wrapper">
              <div class="hide-bg-copy1"></div>
            </div>

          <a href="{% url 'home' %}" class="menu-item-link" style="text-decoration: none">
            <div class="menu-itemstandard">
              <div class="icon-parent">
                <img class="icon7" alt="" src="{% static './public/icon-4.svg'%}" />

                <div class="menu-item-wrapper">
                  <b class="menu-item">Dashboard</b>
                </div>
              </div>
            </div>
        </a>
    </div>
          <div class="frame-parent6" id="frameContainer1">
            <div class="hide-bg-copy-container">
              <div class="hide-bg-copy2"></div>
            </div>



            <a href="{% url 'customers' %}" class="menu-item-link" style="text-decoration: none">
              <div class="menu-itemstandard1">
                <div class="iconlyregularlight3-user-parent">
                  <img
                    class="iconlyregularlight3-user"
                    alt="Customers Icon"
                    src="{% static 'public/iconlyregularlight3-user.svg' %}"
                  />
                  <div class="menu-item-container">
                    <b class="menu-item1">Customers</b>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div style="padding-left: 24px">
            <a href="{% url 'rentals' %}" class="menu-item-link" style="text-decoration: none">
              <div class="menu-itemstandard1">
                <div class="iconlyregularlight3-user-parent">
                  <img
                    class="iconlyregularlight3-user"
                    alt="Customers Icon"
                    src="{% static 'public/iconlyregularlight3-user.svg' %}"
                  />
                  <div class="menu-item-container">
                    <b class="menu-item1">Rentals</b>
                  </div>
                </div>
              </div>
            </a>
          </div>


          <div class="frame-parent7" id="frameContainer2">
            <div class="hide-bg-copy-frame">
              <div class="hide-bg-copy3"></div>
            </div>
          

          <a href="{% url 'movies' %}" class="menu-item-link" style="text-decoration: none">
            <div class="menu-itemstandard2">
              <div class="bx-movie-playsvg-parent">
                <img
                  class="bx-movie-playsvg-icon"
                  alt=""
                  src="{% static './public/bxmovieplaysvg.svg'%}"/>
                <div class="menu-item-frame">
                  <b class="menu-item2">Movies</b>
                </div>
              </div>
            </div>
          </a>  




          </div>
        </div>


        <img class="divider-icon2" alt="" src="{% static './public/divider-2.svg'%}" />
        
        <div style="margin-left: 20px; margin-top: 280px">
          <a href="{% url 'logout' %}" class="menu-item-link" style="text-decoration: none">
            <div class="menu-itemstandard2" style="border: 2px solid #4880FF">
              <div class="bx-movie-playsvg-parent">
                <img
                  class="bx-movie-playsvg-icon"
                  alt=""
                  src="{% static './public/bx-log-out.svg.svg'%}"/>
                <div class="menu-item-frame">
                  <b class="menu-item2" style="color: #4880FF">logout</b>
                </div>
              </div>
            </div>
          </a> 
        </div>



      </div>
      <img class="frame-icon" loading="lazy" alt="" src="{% static './public/frame.svg'%}" />
    </div>

    <script src="{% static '/script/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<!-- DataTables Buttons (optional) -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      $(document).ready(function(){
        $.ajax({
          url: '{% url "home_metrics" %}', // API endpoint
          method: 'GET',
          dataType: 'json',
          success: function(data) {
            $('#movies').text(data.movies)
            $('#customers').text(data.customers)
            $('#rented').text(data.rentals)
            $('#profits').text("K" + data.profits + ".00")

          },
          error: function(xhr, status, error) {
              console.error('Error fetching data:', error);
          }
      });
    
    })
    </script>


    <script>

    </script>

    <script>
      $(document).ready(function(){
        $.ajax({
          url: '{% url "get_top_genres" %}',
          method: 'GET',
          success: function(data){
            const keys = Object.keys(data);
            const values = Object.values(data);

            //// BAR ///
            var ctx = document.getElementById('simpleChart').getContext('2d');
            var simpleChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: keys,
                    datasets: [{
                        label: 'Rental',
                        data: values,
                        backgroundColor: [
                          '#007bff',   // Blue
                          '#4e73df',   // Dark blue
                          '#6cb2eb',   // Sky blue
                          '#1cc88a',   // Green
                          '#36b9cc',   // Aqua' 
                        ]
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


      

            //// PIE CHART ///  
            var ctx = document.getElementById('pieChart').getContext('2d');
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: keys,
                    datasets: [{
                        label: 'rentals',
                        data: values,
                        backgroundColor: [
                            '#007bff',   // Blue
                            '#4e73df',   // Dark blue
                            '#6cb2eb',   // Sky blue
                            '#1cc88a',   // Green
                            '#36b9cc',   // Aqua' 
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });

            

          }
        })
      })




    </script>  


  </body>
</html>
